doctype 5
html
  head
    title= room
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery/jquery-1.10.1.min.js")
    script(src="/javascripts/CryptoJS/aes.js")
    script(src="/javascripts/cryptico/hash.js")
    script(src="/javascripts/cryptico/jsbn.js")
    script(src="/javascripts/cryptico/random.js")
    script(src="/javascripts/cryptico/rsa.js")
    script(src="/javascripts/cryptico/aes.js")
    script(src="/javascripts/cryptico/api.js")
    script(src="/javascripts/trand.js")
    script(src="/javascripts/room.js")
  body

    h1 Welcome to #{room}
    input(type="hidden",id="room",value=room)
    form#login(onsubmit="genKey();return false")
      input#email(type="text",placeholder="email")
      input#password(type="password",placeholder="password")
      input(type="submit",value="login")
      progress#progress(max=1000,value=0)
    input#key
    input#seskey(placeholder="seskey")
    input(type="button",onclick="store()",value="store")
    div#main
      div#chat message appers here
      div#dialogs dialogs appears here
      form#sendform(onsubmit="send();return false")
        span#myemail
        input#message
        input(type="submit",value="send")
