body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.dialog .yes,.dialog .no{
	margin: 10px;
}
.askTrust .fingerprint{
//	font-size: 50%;
}
.askTrust .mail {
	font-size: 150%;
}
#chat .warning{
	color:red
}
#chat .forged{
	background-color: red;
}
